{% extends 'base.html' %}
{% block title %}Employees:{% endblock %}

{% block content %}
    <!--find employees-->
    <div class="accordion accordion-flush m-4 col-md-6 bg-light border rounded-3" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-light border rounded-3 text-align-center" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                    <b>Search by date</b>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body bg-light border rounded-3">
                    <form class="d-flex" action="/employees/search_by_date/" method="post">
                        <div>
                            <label for="date"><h5>Search by birth date:</h5></label><br>
                            <input class="form-control" type="date" id="date" name="date"><br>
                            <button class="btn btn-outline-success float-right" type="submit">Search</button>
                            <br>
                            <br>
                        </div>
                    </form>
                    <form class="d-flex" action="/employees/search_by_period/" method="post">
                        <div>
                            <label for="first_date"><h5>Search by birth date period:</h5></label><br>
                            <input class="form-control" type="date" id="first_date" name="first_date"><br>
                            <input class="form-control" type="date" id="last_date" name="last_date"><br>
                            <button class="btn btn-outline-success float-right" type="submit">Search</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>

    <ul>
        {% for employee in employees %}
            <br>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>{{ employee.name }}</h2>
                    <p><b>Birth date:</b> {{ employee.birth_date.strftime('%m-%d-%Y') }}</p>
                    <p><b>Salary:</b> {{ employee.salary }}</p>
                    <p><b>Department:</b> {{ employee.department.name }}</p>
                    <p><b>Organisation:</b> {{ employee.department.organisation }}</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark float-end" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ employee.id }}">
                        Delete
                    </button>
                    <a href="/employees/{{ employee.id }}/update">
                        <button class="btn btn-success float-end" type="button">update</button>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ employee.id }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel{{ employee.id }}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel{{ employee.id }}">
                                        Delete {{ employee.name }}?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete employee?
                                </div>
                                <div class="modal-footer">
                                    <a href="/employees/{{ employee.id }}/delete">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <br>
                </div>
            </div>
            </div>
            <br>

        {% endfor %}
        <br>
        <a href="/employee/">
            <button class="btn btn-dark float-start" type="button">add new employee</button>
        </a>
        <br>
    </ul>


{% endblock content %}
{% block script %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock script %}