{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}


{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to departments application</h1>
        <p class="col-md-8 fs-4">
        <h1>With this app you can:</h1></p>
        <h3>
            <li>Display a list of departments and the average salary (calculated automatically) for these departments
            </li>
            <li>Display a list of employees in the departments with an indication of the salary for each employee and a
                search field to search for employees born on a certain date or in the period between dates
            </li>
            <li>Change (add / edit / delete) the above data</li>
        </h3>
    </div>
</div>

{% endblock content %}



